.default {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin: 0 auto;
	width: 50vw;
	height: 50vh;
}

.msg {
	font-size: 72px;
	font-style: italic;
	text-decoration: underline;
}

.btn_rematch {
	font-size: 36px;
}